div.content-container {
width:800px;
float:center;
margin: 0 auto;
border:4px dotted black;
padding:10px 20px 0px 20px;
border-radius:25px;
}

div.banner {
float:center;
text-align:center;
margin:0 auto 0 auto;
background-color:#000000;
padding:7px;
border-radius:10px;
}

div.navigation {
float:center;
width:500px;
text-align:center;
margin:0 auto 0 auto;
background-color:#FFFF94;
padding:2px;
border-radius:2px;
}

div.about-container {
width:750px;
border-radius:10px;
background-color:#eaeaea;
padding:15px;
margin: 0px auto 10px 0px;
overflow:auto;
}

div.about-photo-container {
width:220px;
float:left;
border-radius:10px;
background-color:#000000;
padding:10px;
}

img.about-photo {
display:block;
margin:0px auto;
width:200px;
}

div.about-bio {
width:475px;
float:right;
border:none;
border-radius:10px;
background-color:#bdbdbd;
padding:0px 10px 0px 10px;
}
